<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>姓名</title>
</head>
<body>
    <p>すみません．判断できませんでした．</p>
    <p>正しく入力してくだされば，占います．</p>
    <form action="/seimei">
        名字<input type="text" name="first" required><br>
        名前<input type="text" name="family" required><br>
        <input type="submit" values="占う!">
    </form>
</body>
</html>